In [1]:
from usda_mmn_utils import *
import openpyxl

In [19]:
markets_df = get_markets_list()
print(markets_df.head())
print(markets_df.tail())

  slug_id                  market_name
0    2277               Atlanta fruits
1    2278           Atlanta vegetables
2    2279  Atlanta onions and potatoes
3    2280                 Atlanta nuts
4    2281             Baltimore fruits
    slug_id                                        market_name
137    3706    Hamburg, Germany Terminal Nut Prices (HA_FV201)
138    3716                                Tokyo, Japan fruits
139    3717                            Tokyo, Japan vegetables
140    3718                   Tokyo, Japan onions and potatoes
141    3719  Tokyo, Japan Ornamental Terminal Prices (TK_FV...

In [20]:
commodities_list = get_commodities_list(slug_id = markets_df.iloc[0]['slug_id'])
print(commodities_list)

['Limes', 'Lemons', 'Grapes', 'Plantains', 'Coconuts', 'Apples', 'Papaya', 'Bananas', 'Peaches', 'Kiwifruit', 'Mangoes', 'Oranges', 'Guava', 'Grapefruit', 'Avocados', 'Cantaloupes', 'Blueberries', 'Raspberries', 'Pears', 'Strawberries', 'Blackberries', 'Honeydews', 'Pineapples', 'Dates', 'Watermelons', 'Carambola - Star Fruit', 'Rambutan']

In [21]:
prices_df = get_prices(commodity=commodities_list[0], slug_id=markets_df.iloc[0]['slug_id'], start_year=2020, end_year=2022)

In [22]:
print(prices_df.head())

  report_date report_begin_date report_end_date       published_date  \
0  12/31/2020        12/31/2020      12/31/2020  12/31/2020 00:00:00
1  12/31/2020        12/31/2020      12/31/2020  12/31/2020 00:00:00
2  12/31/2020        12/31/2020      12/31/2020  12/31/2020 00:00:00
3  12/31/2020        12/31/2020      12/31/2020  12/31/2020 00:00:00
4  12/31/2020        12/31/2020      12/31/2020  12/31/2020 00:00:00

                           office_name office_state  office_city market_type  \
0  Atlanta (Forest Park), Georgia - SC           GA  Forest Park    Terminal
1  Atlanta (Forest Park), Georgia - SC           GA  Forest Park    Terminal
2  Atlanta (Forest Park), Georgia - SC           GA  Forest Park    Terminal
3  Atlanta (Forest Park), Georgia - SC           GA  Forest Park    Terminal
4  Atlanta (Forest Park), Georgia - SC           GA  Forest Park    Terminal

      market_location_name market_location_state  ... high_price  \
0  Atlanta Terminal Market                    GA  ...       21.0
1  Atlanta Terminal Market                    GA  ...       21.0
2  Atlanta Terminal Market                    GA  ...       21.0
3  Atlanta Terminal Market                    GA  ...       19.5
4  Atlanta Terminal Market                    GA  ...        9.5

   mostly_low_price mostly_high_price market_tone_comments offerings_comments  \
0              19.0              20.0        ABOUT STEADY.               NONE
1              19.0              20.0        ABOUT STEADY.               NONE
2              19.0              19.0        ABOUT STEADY.               NONE
3              19.0              19.0        ABOUT STEADY.               NONE
4               9.0               9.0        ABOUT STEADY.               NONE

  special_notes  reporter_comment commodity_comments  report_narrative  \
0           NaN  NONE - few 22.50                NaN               NaN
1           NaN  NONE - few 22.50                NaN               NaN
2           NaN  NONE - few 22.50                NaN               NaN
3           NaN  NONE - few 22.50                NaN               NaN
4           NaN       NONE - NONE                NaN               NaN

  report_footnotes
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 45 columns]

In [1]:
from usda_mmn_utils import *
import openpyxl
veg_market = "2278"
commodities_list = get_commodities_list(slug_id = veg_market)
print(commodities_list)

['Cabbage', 'Okra', 'Beans, Round Green Type', 'Marjoram', 'Asparagus', 'Spinach', 'Oregano', 'Tomatoes', 'Lemon Grass', 'Tomatillos', 'Squash, Yellow Straightneck', 'Bean Sprouts', 'Rutabagas', 'Parsley', 'Lettuce, Romaine', 'Cucumbers', 'Celery', 'Artichokes', 'Malanga/ Yautia', 'Greens, Swiss Chard', 'Taro', 'Chives', 'Peppers, Finger Hot', 'Chinese Cabbage', 'Daikon', 'Peppers, Bell Type', 'Mushrooms', 'Parsnips', 'Rosemary', 'Peppers, Serrano', 'Beets', 'Chayote', 'Dill', 'Beans, Cranberry Type', 'Cauliflower', 'Beans, Flat Green Type', 'Yuca (Cassava)', 'Watercress', 'Escarole', 'Celeriac (Celery Root)', 'Sweet Potatoes', 'Lettuce, Green Leaf', 'Radicchio', 'Carrots', 'Lettuce, Red Leaf', 'Tomatoes, Plum Type', 'Cilantro', 'Peppers, Habanero', 'Broccoli', 'Squash, Zucchini', 'Dry Eschallot', 'Mint', 'Eggplant', 'Arugula', 'Bok Choy', 'Tomatoes, Grape Type', 'Peas, Snow', 'Squash, Acorn', 'Endive', 'Alfalfa Sprouts', 'Turnips', 'Jicama', 'Squash, Yellow Crookneck', 'Sage', 'Basil', 'Lettuce, Iceberg', 'Beans, Half Runners', 'Peas, Sugar Snap', 'Onions, Green', 'Radishes', 'Squash, Butternut', 'Horseradish', 'Tarragon', 'Leeks', 'Garlic', 'Yams (Names)', 'Cactus Leaf (Nopales)', 'Corn, Sweet', 'Thyme', 'Squash, Spaghetti', 'Greens, Collard', 'Beans, Haricot Vert (French Type)', 'Peppers, Jalapeno', 'Brussels Sprouts', 'Greens, Kale', 'Peppers, Cubanelle', 'Lettuce, Boston', 'Greens, Dandelion', 'Greens, Turnip Tops', 'Anise', 'Beans, Fava', 'Aloe Leaves', 'Tomatoes, Cherry', 'Peppers, Poblano', 'Ginger Root', 'Greens, Mustard']

In [2]:
commodity = "Tomatoes"
prices_df = get_prices_1y(commodity=commodity, slug_id=veg_market, year=2022)
print(prices_df.keys())

Index(['report_date', 'report_begin_date', 'report_end_date', 'published_date',
       'office_name', 'office_state', 'office_city', 'market_type',
       'market_location_name', 'market_location_state', 'market_location_city',
       'slug_id', 'slug_name', 'report_title', 'group', 'category',
       'commodity', 'variety', 'repack', 'package', 'storage',
       'transportation_mode', 'grade', 'unit_sales', 'item_size', 'appearance',
       'quality', 'condition', 'organic', 'crop', 'origin', 'district',
       'environment', 'properties', 'low_price', 'high_price',
       'mostly_low_price', 'mostly_high_price', 'market_tone_comments',
       'offerings_comments', 'special_notes', 'reporter_comment',
       'commodity_comments', 'report_narrative', 'report_footnotes'],
      dtype='object')

In [3]:
variety_list = prices_df["variety"].unique()
package_types = prices_df[prices_df["variety"].isin(variety_list)]["package"].unique()
pound_mapper = get_package_weight_map(commodity=commodity, variety_list=variety_list, package_types=package_types, debug_prints=True)

c:\Users\dinesh\ProducePrices\usda_mmn_utils.py:349: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  package_to_pounds_new = pd.concat([package_to_pounds, pound_mapper])

In [4]:
alist = ['red','green','blue']
print(all(['red','green'] in alist))

TypeError: 'bool' object is not iterable